@import "tailwindcss";

.rich-text-content {
    color: #ffffff; 
  }
  
 
  .rich-text-content h1 {
    font-size: 2rem;
    font-weight: bold;
    color: oklch(0.714 0.203 305.504);
    /* margin: 1.5em 0 0.5em; */
  }
  
  .rich-text-content h2 {
    font-size: 1.75rem;
    font-weight: bold;
    color: oklch(0.714 0.203 305.504);
    /* margin: 1.25em 0 0.5em; */
  }
  
  .rich-text-content h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: oklch(0.714 0.203 305.504);
    /* margin: 1em 0 0.5em; */
  }
  
  .rich-text-content h4 {
    font-size: 1.25rem;
    font-weight: bold;
    color: oklch(0.714 0.203 305.504);
    /* margin: 0.75em 0 0.5em; */
  }
  
  .rich-text-content h5 {
    font-size: 1rem;
    font-weight: bold;
    color: oklch(0.714 0.203 305.504);
    /* margin: 0.5em 0 0.5em; */
  }
  
  .rich-text-content h6 {
    font-size: 0.875rem;
    font-weight: bold;
    color: oklch(0.714 0.203 305.504);
    /* margin: 0.25em 0 0.5em; */
  }
  
  /* Paragraphs */
  .rich-text-content p {
    /* margin: 1em 0; */
    line-height: 1.6;
  }
  
  /* Links */
  .rich-text-content a {
    color: #3b82f6;
  }
  .rich-text-content a:hover {
    color: #3f82ed;
    text-decoration: underline;
  }
  
  /* Lists */
  .rich-text-content ul,
  .rich-text-content ol {
    padding-left: 2em;
  }
  
  .rich-text-content ul {
    list-style-type: disc;
  }
  
  .rich-text-content ol {
    list-style-type: decimal;
  }
  
  .rich-text-content li {
    margin: 0.5em 0;
  }
  

  .rich-text-content blockquote {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid #6b7280;
    color: #6b7280;
  }

  .rich-text-content code {
    font-family: monospace;
    background-color: #374151;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
  }

  .rich-text-content img {
    max-width: 100%;
    height: auto;
    margin: 1em 0;
    border-radius: 0.5em;
  }





  /********************************************************/
  /* Define the scrolling animation */
@keyframes scroll {
    0% {
      transform: translateX(100%); /* Start from the right */
    }
    100% {
      transform: translateX(-100%); /* Move to the left */
    }
  }
  
  /* Apply the animation to the logos container */
  .logos-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .logos-container img {
    animation: scroll 15s linear infinite; /* Adjust duration as needed */
  }












  /* Custom scrollbar styles */
.styled-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: #374151; /* Color of the track */
  border-radius: 4px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280; /* Color of the scrollbar thumb */
  border-radius: 4px;
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* Color of the scrollbar thumb on hover */
}