@import "tailwindcss";

  /********************************************************/
  /* Define the scrolling animation */
@keyframes scroll {
    0% {
      transform: translateX(100%); /* Start from the right */
    }
    100% {
      transform: translateX(-100%); /* Move to the left */
    }
  }
  
  /* Apply the animation to the logos container */
  .logos-container {
    /* display: flex; */
    overflow: hidden;
    /* white-space: nowrap; */
  }
  
  .logos-container img {
    animation: scroll 15s linear infinite; /* Adjust duration as needed */
  }












  /* Custom scrollbar styles */
.styled-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: #374151; /* Color of the track */
  border-radius: 4px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280; /* Color of the scrollbar thumb */
  border-radius: 4px;
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* Color of the scrollbar thumb on hover */
}